src/AppBundle/Resources/views/SOAP/livestream.wsdl.twig

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="LivestreamApi" targetNamespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/">
  <portType name="LivestreamApiPortType">
    <operation name="setRecordingInformation">
      <input message="tns:setRecordingInformationRequest"/>
      <output message="tns:setRecordingInformationResponse"/>
    </operation>
    <operation name="startLiveStream">
      <input message="tns:startLiveStreamRequest"/>
      <output message="tns:startLiveStreamResponse"/>
    </operation>
    <operation name="stopLiveStream">
      <input message="tns:stopLiveStreamRequest"/>
      <output message="tns:stopLiveStreamResponse"/>
    </operation>
  </portType>
  <types>
    <xsd:schema targetNamespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/"/>
  </types>
  <message name="setRecordingInformationRequest">
    <part name="identifier" type="xsd:string"/>
    <part name="startDate" type="xsd:dateTime"/>
    <part name="endDate" type="xsd:dateTime"/>
  </message>
  <message name="setRecordingInformationResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="startLiveStreamRequest">
    <part name="identifier" type="xsd:string"/>
    <part name="startTime" type="xsd:dateTime"/>
  </message>
  <message name="startLiveStreamResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="stopLiveStreamRequest">
    <part name="identifier" type="xsd:string"/>
    <part name="stopTime" type="xsd:dateTime"/>
  </message>
  <message name="stopLiveStreamResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <service name="LivestreamApiService">
    <port name="LivestreamApiPort" binding="tns:LivestreamApiBinding">
      <soap:address location="{{ host }}"/>
    </port>
  </service>
  <binding name="LivestreamApiBinding" type="tns:LivestreamApiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="setRecordingInformation">
      <soap:operation soapAction="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/setRecordingInformation"/>
      <input>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="startLiveStream">
      <soap:operation soapAction="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/startLiveStream"/>
      <input>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="stopLiveStream">
      <soap:operation soapAction="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/stopLiveStream"/>
      <input>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/LivestreamApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
</definitions>