src/AppBundle/Resources/views/SOAP/transcoding.wsdl.twig

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="TranscodingApi" targetNamespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/">
  <portType name="TranscodingApiPortType">
    <operation name="success">
      <input message="tns:successRequest"/>
      <output message="tns:successResponse"/>
    </operation>
    <operation name="error">
      <input message="tns:errorRequest"/>
      <output message="tns:errorResponse"/>
    </operation>
  </portType>
  <types>
    <xsd:schema targetNamespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/"/>
  </types>
  <message name="successRequest">
    <part name="transcodedFile" type="xsd:string"/>
  </message>
  <message name="successResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="errorRequest">
    <part name="transcodedFile" type="xsd:string"/>
  </message>
  <message name="errorResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <service name="TranscodingApiService">
    <port name="TranscodingApiPort" binding="tns:TranscodingApiBinding">
      <soap:address location="{{ host }}"/>
    </port>
  </service>
  <binding name="TranscodingApiBinding" type="tns:TranscodingApiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="success">
      <soap:operation soapAction="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/success"/>
      <input>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="error">
      <soap:operation soapAction="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/error"/>
      <input>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.moritzwachter.de/wsdl/TranscodingApi/3.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
</definitions>